.recommended-container {
  margin: 16rem 0;
}

.recommended-header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
}

.recommended-list {
  display: flex;
}

@media screen and (max-width: 550px) {
  .recommended-list {
    flex-direction: column;
  }
}
