.included-items-list-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.included-header {
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.included-item {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.faded {
  opacity: 75%;
}

.mr-2 {
  margin-right: 2.4rem;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .included-items-list-container {
    flex-direction: row;
    width: 100%;
    margin-top: 12rem;
  }

  .included-list-col {
    width: 50%;
    /* border: 3px solid green; */
  }
}

@media screen and (max-width: 550px) {
  .included-items-list-container {
    flex-direction: column;
  }

  .included-list-col {
    width: 100%;
  }
}
