.features-card {
  overflow: hidden;
}

.features-blurb {
  font-size: 1.5rem;
  color: var(--lightblack);
  line-height: 2.5rem;
  opacity: 75%;
}

.features-header {
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
