.product-info-container {
  padding: 7.9rem 16.5rem;
}

.backbtn-div {
  margin-bottom: 5rem;
}

.go-back-btn {
  color: var(--primarycolor);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.go-back-btn:hover {
  letter-spacing: 3px;
  font-weight: 700;
  text-shadow: 5px 10px 20px black;
}

.features-box-row {
  display: flex;
  /* border: 2px solid red; */
  margin: 16rem 0;
  gap: 5%;
  /* border: 2px solid red; */
  /* align-items: center; */
}

.features-col {
  max-width: 63.5rem;
  /* border: 2px solid blue; */
}

.included-items-list-container {
  width: 100%;
  /* border: 5px solid orange; */
  /* height: 300px; */
  display: flex;
}

@media screen and (max-width: 1050px) {
  .product-info-container {
    padding: 3.3rem 4rem;
  }
}

@media screen and (max-width: 850px) {
  .features-box-row {
    flex-direction: column;
  }

  .features-col {
    max-width: none;
  }

  .features-col {
    max-width: auto;
  }

  .included-col {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .features-box-row {
    margin: 8.8rem 0;
  }
  .product-info-container {
    padding: 1.6rem 2rem;
  }
}
